aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
aside.logo img {
  padding: 0 15px;
  width: 100%;
}

@media (max-width: 576px) {
  aside.logo {
    width: 100%;
  }
  aside.logo img {
    width: 150px;
  }
}
